*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
.card-1{
  width: 100vh;
  height: 100vh;
  background-image: url(./c1-assets/cute-dog-mid.png);
  background-repeat: no-repeat;
  background-size: 214px 270px;
} */
